*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; }
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: 100%;
}
.banner-area{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(p3-404.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: center;
}
.content-area{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 7%;
}
.content{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 4px;
    padding: 1% 1.5%;
}
@media (max-width: 399px){
    .content-area{
        padding-left: 0;
    }
} 
a{
    color: white;
}
.content h1{
font-size: 300%;
color: #fff;
}
.content p{
    font-size: 30px;
    color: #ddd;
}
.content .btn{
    border: none;
    outline: none;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    color: #eee;
    font-size: 18px;
    cursor: pointer;
    background: #333;
}